<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ClassicalMusicTest</title>
    <link href="/img/logo.png" rel="icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/test.css">
</head>

<body>
    <div id="containerMain">
        <div id="header">
            <img id="logo" src="/img/logo.png" alt="">
            <h1>ClassicalMusicTest</h1>
        </div>
