<% include ./partials/header %>

<div class="textLine">
    <p>TopList</p>
</div>
<hr class="hrWide">
<hr>
<div class="toplistTable">
    <div class="topListItem">
        <p>#</p>
    </div>
    <div class="topListItem">
        <p>Player</p>
    </div>
    <div class="topListItem">
        <p>Score</p>
    </div>
</div>
<hr class="hrWide">
<% for(let i = 0; i < 10; i++) { %>
    <hr>
    <div class="toplistTable">
        <div class="topListItem">
            <p><%= i+1 %></p>
        </div>
        <div class="topListItem">
            <p><%= player[i] %></p>
        </div>
        <div class="topListItem">
            <p><%= points[i] %></p>
        </div>
    </div>
    
<% } %>
<hr class="hrWide">
<hr>
<div class="buttonContainer">
    <a href="/"><button id="retry" class="directingButton">Home</button></a>
</div>


<% include ./partials/footer %>