<% include ./partials/header %>

<div class="textLine">
    <p>Let's test your knowledge of classical music</p>
    <hr>
    <p>Write your name below:</p>
    <p id="errorMsg"><%= errorMsg %></p>
    <form action="/addPlayer" method="POST">
        <div>
            <input type="text" name="playerName" placeholder="your name">
        </div>
        <button class="directingButton" id="startButton">START</button>
    </form>
</div>

<% include ./partials/footer %>